[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/Vulkan-Loader"]
	path = external/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/nativefiledialog"]
	path = external/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
