data/rayboy.glb filter=lfs diff=lfs merge=lfs -text
data/undercover_irradiance.ktx filter=lfs diff=lfs merge=lfs -text
data/undercover_radiance.ktx filter=lfs diff=lfs merge=lfs -text
data/undercover.glb filter=lfs diff=lfs merge=lfs -text
data/undercover.hdr filter=lfs diff=lfs merge=lfs -text
data/undercover_lightmap.hdr filter=lfs diff=lfs merge=lfs -text
data/white_room.glb filter=lfs diff=lfs merge=lfs -text
data/white_room.hdr filter=lfs diff=lfs merge=lfs -text
data/white_room_irradiance.ktx filter=lfs diff=lfs merge=lfs -text
data/white_room_radiance.ktx filter=lfs diff=lfs merge=lfs -text
